body{
    background-image: url(night-view-victoria-harbor-hong-kong.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:0;
}

#Clockcontainer{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
}
/* Medium screens like tablets */
@media (max-width: 768px) {
  #clock {
    font-size: 4.5rem;
    padding: 15px 30px;
  }
}

/* Small screens like phones */
@media (max-width: 480px) {
  #clock {
    font-size: 3rem;
    padding: 10px 20px;
  }
}
